@font-face {
  font-family: TungstenMedium;
  src: url("fonts/Tungsten-Medium.otf") format("opentype");
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  color: #575757;
  font-family: 'TungstenMedium';
}

body p {
  font-size: 20px;
}

h3{
  display: inline;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Main Page */
.header {
  margin-bottom: 10px;
}

.footer{
  background-color: #000;
  text-align: center;
  min-height: 5em;
  font-size: 2em;
}

.footer i {
  margin: 0.8em; 
}


.glyphicon-search{
  font-size: 20px;
  margin-top: 2em; 
  margin-left: 2em;
  position: absolute;
  float: left;
}

.glyphicon-search:hover {
  cursor: pointer;
}

input#video-filter-input{
  font-family: 'TungstenMedium';
  border: none;
  outline:none;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.high-nav{
  text-align: center;
  margin-top: 3em;
  margin-bottom: 7em;
}

.high-nav a h4 {
  font-size: 24px;
  display: inline;
  margin-right: 1.5em;
  color:#575757;
}

.header #capco-logo {
  width:25%;
  display: block;
  margin:0 auto;
}

.iframe-container{
  position: relative; 
  width: 100%; 
  height: 0px; 
  padding-bottom: 60%
}

iframe#modal-video{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.video-modal-info {
  background-color: #fff;
}

.modal-links {
    margin: -0.25em;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 4px 4px 2px #bdc3c7;
}

.modal-links h3{
    font-weight: bold;
}

.modal-links:hover {
  color: black;
  background-color: #2ecc71;
}

img.thumbnails {
  width: 100%;
  height: auto;
}

img.thumbnails:hover {
  cursor: pointer;
}

.video-container {
  margin-top: 2em;
  text-align: center;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.modal-dialog .video-title {
  left:0;
  bottom: -68px;
  z-index: 100;
}

/* Video Page */

.video-title {
    color:black;
    display: inline-block;
    background: yellow;
    font-size: 3em;
    padding: 0.1em 1em;
    margin-bottom: 0px;
    position: relative;
    left: -15px;
}

/* Main marketing message and sign up button */
/*.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}*/

/*.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}*/

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
